/HARD/*.LOG
/SOFT/1/*.o
/SOFT/1/*.d
/SOFT/1/*.crf
/SOFT/1/*.lst
/SOFT/1/1.fed
/SOFT/1/*.htm
/SOFT/1/*.map
/SOFT/1/*.plg
/SOFT/1/*.sct
/SOFT/1/*.dep
/SOFT/1/*.tra
/SOFT/1/*.lnp
/SOFT/from Oleg/12
/SOFT/from Oleg/13
/SOFT/from Oleg/14
/SOFT0505.rar
/*.rar
/SOFT/1/*.axf
/SOFT/from Oleg/15/*.bak1
/SOFT/from Oleg/15/*.bak2
/SOFT/from Oleg/15/*.bak3
/SOFT/from Oleg/16/*.bak1
/SOFT/from Oleg/16/*.bak2
/SOFT/from Oleg/16/*.bak3
